<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>postatus checker</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.1/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/postatus.css') }}" />
</head>
<body>

  <div class="outer-container container">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">postatus checker</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">All Projects</a></li>
        </ul>
      </div>
    </nav>

    <div class="main container">
      {% block content %}{% endblock %}
    </div>

    <footer>
      <p>
        Powered by <a href="https://github.com/willkg/postatus">postatus</a>.
      </p>
      <p>
        Having problems? Questions, comments and/or concerns? Send
        an email to <em>willkg AT mozilla DOT com</em>.
      </p>
    </footer>
  </div>

  <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap-3.3.1/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/postatus.js') }}"></script>
</body>
</html>
