{% extends "base.html" %}

{% block content %}
  <h1>L10N Project Reporter</h1>
  <p>
    This is a system that parses the postatus file and l10n_completion
    files for issues, displays issues, displays status and makes it
    easier to write up bugs for problems so they can get fix0rd.
  </p>
  <p>
    Source code and issue tracker:
    <a href="https://github.com/willkg/postatus">github.com/willkg/postatus</a>
  </p>

  <h2>Projects</h2>
  {% if projects %}
    <div class="list-group">
      {% for project in projects %}
        <a class="list-group-item" href="{{ url_for('view_project', project=project) }}">{{ project }}</a>
      {% endfor %}
    </div>
  {% else %}
    <p>
      No projects defined.
    </p>
  {% endif %}
  <p>
    Don't see your project in this list? Does it generate a postatus file?
    Then <a href="https://github.com/willkg/postatus">file an issue to have
    it added</a>.
  </p>
{% endblock content %}
