{% extends "project.html" %}

{% block innercontent %}
  <h2>L10N Summary
    <small>{{ created }}</small>
  </h2>

  <div class="row">
    <div class="col-md-8">
      {% if errors %}
        <h2>Errors</h2>
        {% for error in errors %}
          <p class="bg-danger">{{ error }}</p>
        {% endfor %}
      {% else %}

        {% if l10n_status %}
          {% set summary = l10n_status.summary() %}
          <h3>Apps</h3>
          <p>
            <a href="{{ url_for('view_l10n_summary', project=project.name, highlight=request.args.get('highlight')) }}">ALL</a>
            {% for app in summary.apps %}
              <a href="{{ url_for('view_l10n_summary', project=project.name, app=app, highlight=request.args.get('highlight')) }}">{{ app }}</a>
            {% endfor %}
            |
            Showing data for app: <strong>{{ summary.app }}</strong>
          </p>
          {% if summary.highlighted %}
            <h3>Highlighted locales</h3>
            <table class="l10n-summary table table-condensed table-hover">
              <tr>
                <th rowspan=2>locale</th>
                <th colspan=2>untranslated</th>
                <th rowspan=2>percent translated</th>
                <th rowspan=2>actions</th>
              </tr>
              <tr>
                <th># words</th>
                <th># strings</th>
              </tr>
              {% for item in summary.highlighted %}
                <tr>
                  <td>{{ item.locale }}</td>
                  <td>
                    {{ item.untranslated_words }}
                  </td>
                  <td>
                    {{ item.untranslated }}
                  </td>
                  <td>
                    <span class="perc perc-{% if item.percent >= 100 %}good{% elif item.percent > 75 %}ok{% else %}bad{% endif %}">
                      <span style="width: {{ '%2.1f'|format(item.percent) }}%"></span>
                    </span>
                    <span class="perc-value">
                      {{ '%2.1f'|format(item.percent) }}%
                    </span>
                  </td>
                  <td>
                    <a href="{{ generate_bug_url('untranslated', project, item.locale, '%s strings consisting of %s words' % (item.untranslated, item.untranslated_words)) }}">bug</a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}

          {% if summary.locales %}
            <h3>Locales</h3>
            <table class="l10n-summary table table-condensed table-hover">
              <tr>
                <th rowspan=2>locale</th>
                <th colspan=2>untranslated</th>
                <th rowspan=2>percent translated</th>
                <th rowspan=2>actions</th>
              </tr>
              <tr>
                <th># words</th>
                <th># strings</th>
              </tr>
              {% for item in summary.locales %}
                <tr>
                  <td>{{ item.locale }}</td>
                  <td>
                    {{ item.untranslated_words }}
                  </td>
                  <td>
                    {{ item.untranslated }}
                  </td>
                  <td>
                    <span class="perc perc-{% if item.percent >= 100 %}good{% elif item.percent > 75 %}ok{% else %}bad{% endif %}">
                      <span style="width: {{ '%2.1f'|format(item.percent) }}%"></span>
                    </span>
                    <span class="perc-value">
                      {{ '%2.1f'|format(item.percent) }}%
                    </span>
                  </td>
                  <td>
                    <a href="{{ generate_bug_url('untranslated', project, item.locale, '%s strings consisting of %s words' % (item.untranslated, item.untranslated_words)) }}">bug</a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>

    <div class="col-md-4">
      <div class="well well-lg">
        <p>
          Every time we deploy we run some stats on translations and throw them
          in a JSON file. We keep history of those stats over time. This page
          shows the state of translated strings across locales as of the last
          deploy.
        </p>
        <p>
          FIXME: Allow sorting by locale name (alphabetical) and by percentage
          done.
        </p>
      </div>
    </div>
  </div>
{% endblock innercontent %}
