{% extends "project.html" %}

{% block innercontent %}
  <h2>Lint errors
    <small>{{ postatus_datestamp }}</small>
  </h2>

  <div class="row">
    <div class="col-md-8">
      {% if errors %}
        <h3>Errors</h3>
        {% for error in errors %}
          <p class="bg-danger">{{ error }}</p>
        {% endfor %}

      {% else %}
        <h3>Results</h3>

        {% if serrors %}
          <div class="alert alert-dangersuccess">
            There are errors!
          </div>
          {% for serror in serrors %}
            <div class="locale" data-name="{{ serror.locale }}">
              <h3>{{ serror.locale }} <small>{{ serror.fn }}</small></h3>
              <pre>{{ serror.errors.decode('utf-8') }}</pre>
              <div class="buglist">
              </div>
              <p>
                <a href="{{ generate_bug_url(project, serror.locale, serror.errors) }}">Generate bug</a>
              </p>
            </div>
          {% endfor %}
        {% else %}
          <div class="alert alert-success">
            Good news! No errors!
          </div>
        {% endif %}
      {% endif  %}
    </div>

    <div class="col-md-4">
      <div class="well well-lg">
        <p>
          When {{ project.name }} is deployed, the deploy script pulls down
          the new PO files, lints them and for PO files that have no errors,
          it compiles them to MO files and those strings get updated.
        </p>
        <p>
          For PO
          files that do have errors, it does <b>not</b>
          compile those PO files to MO files and strings do <b>not</b> get updated.
        </p>
        <p>
          The PO linting errors are listed here as are possibly related
          bugs that already exist and links to create bugs if there
          aren't any.
        </p>
      </div>
    </div>
  </div>

{% endblock innercontent %}
