html, body {
  background-color: #333;
  height: 100%;
}

.outer-container {
  background-color: #f1f1f1;
  background: white;
  margin: 0 auto;
  min-height: 100%;
  padding: 0;
  position: relative;
}

.main.container {
  padding: 0 20px 90px 20px;
}

footer {
  background: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  bottom: 0;
  height: 70px;
  padding: 10px;
  position: absolute;
  width: 100%;
}

table.l10n-summary td {
  padding: 2px 6px;
}

.perc-value {
  padding-left: 10px;
}

.perc {
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  height: 14px;
  padding: 2px;
  position: relative;
  width: 240px;
}

.perc > span {
  display: block;
  height: 8px;
}

.perc-good > span {
  background: #0c0;
}

.perc-ok > span {
  background: #fc0;
}

.perc-bad > span {
  background: #d00;
}

table.l10n-history {
    width: 100%;
}

.history-down {
    background: #f99;
}

.history-up {
    background: #9f9;
}