html, body {
  background-color: #333;
  height: 100%;
}

.outer-container {
  background-color: #f1f1f1;
  background: white;
  margin: 0 auto;
  min-height: 100%;
  padding: 0;
  position: relative;
}

.main.container {
  padding: 0 20px 90px 20px;
}

footer {
  background: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  bottom: 0;
  height: 70px;
  padding: 10px;
  position: absolute;
  width: 100%;
}

table.l10n-summary td {
  padding: 2px 6px;
}

.perc-value {
  padding-left: 10px;
}

.perc-good {
  background: #4e4;
  color: white;
}

.perc-ok {
  background: #ee4;
  color: white;
}

.perc-bad {
  background: #e44;
  color: white;
}

table.l10n-history {
    width: 100%;
}

.history-down {
    background: #f99;
}

.history-up {
    background: #9f9;
}